a, p, ol, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  background-color: var(--tg-theme-bg-color);
  /* <weight>: Use a value from 300 to 800 */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--tg-theme-text-color);
}

.header_cont {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 24px 18px 12px 18px;
}

.square_btn {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  box-shadow: 0 0 4px #e2e2e2;
}

.square_btn_dark {
  background-color: #53566a;
  box-shadow: 0 0 4px #53566a;
}

.rectangular_btn {
  background-color: #7367F0;
  border-radius: 8px;
  width: 146px;
  height: 48px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 300;
}

.popup_fullwidth {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

.popup_fullwidth_error {
  background-color: rgba(255, 255, 255, 0.8);
}

.popup_fullwidth_error_text {
  padding: 0 40px;
  text-align: center;
}

.popup_fullwidth_error_icon {
  display: none;
  width: 100px;
  height: 100px;
}

.popup_fullwidth_show {
  display: flex;
}

.worry_title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.setting_btn {
  background-image: url(./assets/settings.svg);
}

.setting_btn_dark {
  background-image: url(./assets/settings-light.svg);
}

.close_btn {
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  outline: 2px solid #635d75;
  background-image: url(./assets/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F6F6F6;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14% 8px 0;
  row-gap: 6vh;
}

.step_section {
  width: 100%;
}

.step {
  text-align: center;
  font-size: 1em;
  color: var(--tg-theme-text-color);
  margin-bottom: 10px;
  min-height: 20px;
}

.progress-bar_cont {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: lightgray;
}

.progress-bar {
  position: absolute;
  width: 100%;
  height: 4px;
}

.description {
  display: none;
  position: absolute;
  top: 50%;
  width: 80%;
  padding: 10px;
  border-radius: 6px;
  background-color: #ebebebec;
  outline: 2px solid #635d75;
  text-align: center;
  color: #6F6F6F;
  font-weight: 500;
  line-height: 1.4;
}

.description_show {
  display: block;
}

.description_close {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
}

.description_close:hover {
  outline: 2px solid #c02f2f;
  background-image: url(./assets/cross-red.svg);
}

.trigger_btn {
  background-image: url(./assets/triangle.svg);
  background-repeat: no-repeat;
  background-position: 104px center;
  padding-right: 30px;
}

.trigger_btn_pause {
  background-image: url(./assets/pause.svg);
}

.trigger_btn_reload {
  background-image: url(./assets/refresh.svg);
  padding-right: 40px;
}

@media screen and (min-height: 680px) {
  .main {
    padding: 15% 8px 0;
  }
}

@media screen and (min-height: 790px) {
  .description {
    top: 40%;
  }
}