@keyframes growShrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  outline: 4px solid #7367F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big_arrow {
  display: none;
  position: absolute;
  transform-origin: center;
}

/* POINTS */

.point_container {
  position: absolute;
  display: flex;
  width: 102px;
  column-gap: 6px;
}

.a_container {
  flex-direction: row-reverse;
  top: 0;
  left: -94px;
}

.b_container {
  top: 0;
  right: -94px;
}

.c_container {
  bottom: 0;
  right: -94px;
}

.d_container {
  flex-direction: row-reverse;
  bottom: 0;
  left: -94px;
}

.circle_point {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: 2px solid var(--tg-theme-text-color);
  justify-content: center;
  align-items: center;
  color: var(--tg-theme-text-color);
  font-weight: 700;
}

.show_point {
  display: flex;
}

.initial_point {
  animation: growShrink 2s infinite;
}

/* END POINTS */

/* SMALL ARROWS */
.small_arrow {
  display: none;
}

.show_arrow {
  display: block;
}

.small_arrow_left {
  transform: rotate(180deg);
}
/* END SMALL ARROWS */

/* STRENGTH ARROWS */
.arrow_a-b {
  top: 20px;
  display: block;
}

.arrow_b-a {
  top: 20px;
  transform: rotate(180deg);
  display: block;
}

.arrow_d-c {
  bottom: 20px;
  display: block;
}

.arrow_c-d {
  bottom: 20px;
  transform: rotate(180deg);
  display: block;
}

.arrow_d-a {
  transform: rotate(-90deg);
  left: -20px;
  display: block;
}

.arrow_a-d {
  transform: rotate(90deg);
  left: -20px;
  display: block;
}

.arrow_c-b {
  transform: rotate(-90deg);
  right: -20px;
  display: block;
}

.arrow_b-c {
  transform: rotate(90deg);
  right: -20px;
  display: block;
}

/* DIAGONAL ARROWS */

.arrow_d-b {
  transform: rotate(-35deg);
  display: block;
}

.arrow_a-c {
  transform: rotate(35deg);
  display: block;
}

.arrow_b-d {
  transform: rotate(145deg);
  display: block;
}

.arrow_c-a {
  transform: rotate(-145deg);
  display: block;
}