.circle {
  position: relative;
  width: 221px;
  height: 221px;
  outline: 4px solid #7367F0;
  border-radius: 50%;
  margin: 40px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center
}

.circle_arrow {
  transform: rotate(-45deg);
  transform-origin: center;
}

.circle_point {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: 2px solid #6F6F6F;
  color: #6F6F6F;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center
}

.source_point {
  bottom: -15px;
  left: -15px;
}

.target_point {
  display: none;
  top: -15px;
  right: -15px;
}

.target_point_show {
  display: flex;
}