.range_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  cursor: pointer;
  border-radius: 16px;
  height: 6px;
  background: #F1F0F2;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #5C52C0;
  border-radius: 50%;
  border: 2px solid white;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #5C52C0;
  border-radius: 50%;
  border: 2px solid white;
}

.sliderticks {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.sliderticks span {
  font-size: 12px;
  color: gray;
  padding-top: 2px;
}